@import "tailwindcss";

/* All colors were copied from the figma design or picked up using Windows color picker (Windows Key + Shift + C)*/
@theme {  
  --color-bg-gradient-start-gray: #373E44;
  --color-bg-gradient-end-dark-gray: #191B1F;

  --color-left-component-gray: rgba(97, 97, 97, 0.82);

  --color-widget-container-bg: #363C43;
  --color-button-bg: #171717;
  --color-active-button-bg: #28292F;
  --color-inavtive-button: #a5adb1;
  
  --color-text-gray: #969696;
}

/* In your globals.css file */
.bg-wipe-gradient {
  background-image: linear-gradient(to right, var(--color-button-bg) 0%, #27292b 50%, transparent 50%);
  background-size: 200% 100%;
}

.layout-container {
  @apply py-[10vh] px-[3vw] w-full
}

/* tailwind doesnt have a default offset box shadow so creating a custom one */
.offset-box-shadow {
  @apply shadow-[3px_3px_10px_rgba(0,0,0,0.75)]
}


/* Commenting out default tailwind styles that get generate when you do pnpm create next-app */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
