@import "tailwindcss";

/* All colors were copied from the figma design or picked up using Windows color picker (Windows Key + Shift + C)*/
@theme {  
  --color-bg-gradient-start-gray: #373E44;
  --color-bg-gradient-end-dark-gray: #191B1F;

  --color-widget-container-bg: #363C43;
}

.layout-container {
  @apply py-[10vh] px-[3vw] w-full
}

/* tailwind doesnt have a default offset box shadow so creating a custom one
   format is shadow-[horizontalOffset_verticalOffset_blurRadius_color(either rgba or rgb)] */
.offset-box-shadow {
  @apply shadow-[3px_3px_10px_rgba(0,0,0,0.75)]
}


/* Commenting out default tailwind styles that get generate when you do pnpm create next-app */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
